<!DOCTYPE html>
<html lang="en">
<%- include('./head') %>
<body class="grey-bg-color-idx">
<%- include('./header') %>
<main class="main">
<div class="display-texto-caja-prod">Productos en el Carrito</div>
<div class="contenedor-carrito">
    
    <div class="productos-main caja-prod-carrito">
        <div class="CajaProductos-main">
	  <img src=/public/img/224433_desodorante-nivea-black-y-white-invisible-fresh-en-aerosol-x-150-ml_imagen-1.jpg class='img-main'>
	  <h3><strong>Nivea</strong></h3>
	  <div class="texto-producto-inicio">Desodorante Nivea Black & White Invisible Fresh en Aerosol x 150 ml</div>
	      <h2><strong>$ 275.50</strong></h2>
	  </div>
	</div>
	  <div class="display-texto-caja-carrito">
	    Información del cliente
	  <div class="carrito-texinfo-box">
	    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam justo erat, consequat non feugiat ut, maximus eu quam. Phasellus ultrices massa id dolor porttitor accumsan. Praesent vitae lectus interdum, fermentum ligula vitae, iaculis massa.
	  </div>
	  Información de pago
	  <div class="carrito-texinfo-box">
	    Suspendisse mollis dolor sit amet lacus euismod, id laoreet risus fermentum. Fusce id dictum metus. Donec quis lectus ac nisl viverra pretium.
	  </div>
	  <div class="carrito-total-flexbox">
	    Total
  	    <div class="carrito-total-a-pagar">
	      $ 275.50
	    </div>
	  </div>
	  <div class="flexbox-boton-checkout-carrito">
	    <button type="submit" class="boton-checkout-carrito">Checkout</button>
	  </div>  
	  </div>
    </div>
</div>
    </main>
<%- include('./footer') %>
    
</body>
</html>