<!DOCTYPE html>
<html lang="en">
<%- include('./head') %>
<body class="grey-bg-color-idx">
<%- include('./header') %>
    <main class="main">
	     <form class="flexbox-formulario">
	     <div class="formulario-item">
	       <label for="nombreproducto">Nuevo nombre del Producto</label></div><div class="formulario-item">
	       <input class="formulario-input-box" type="text"
	       id="nombreproducto" name="nombreproducto">
	     </div>
	     <div class="formulario-item">
	       <label for="fabricadorproducto">Fabricante</label></div><div class="formulario-item">
	       <input class="formulario-input-box" type="text" id="fabricadorproducto"
	       name="fabricadorproducto">
	     </div>
	     <div class="formulario-item">
	       <label for="descprod">Descripción del producto</label></div><div class="formulario-item">
	       <input class="formulario-input-box" type="text" name="descprod" id="descprod">
	     </div>  
	     <div class="formulario-item">
	       <label for="valorproducto">Nuevo precio</label></div><div class="formulario-item">
	       <input class="formulario-input-box" type="number" name="valorproducto" id="valorproducto"
	       >
	     </div>
	     <div class="formulario-item">
	       <input class="formulario-boton-enviar" type="submit"
	       value="Actualizar Producto">
	     </div>
	     </form>
    </main>
<%- include('./footer') %>
    
</body>
</html>
