<!DOCTYPE html>
<html lang="en">
<%- include('./head') %>
<body>
<%- include('./header') %>
    <main class="main">
	     <form class="flexbox-formulario">
	     <div class="formulario-item">
	       <label for="emailusuario">E-mail</label></div><div class="formulario-item">
	       <input class="formulario-input-box" type="email" id="emailusuario"
	       name="emailusuario" required="required">
	     </div>
	     <div class="formulario-item">
	       <label for="contrasenausuario">Contraseña</label></div><div class="formulario-item">
	       <input class="formulario-input-box" name="contrasenausuario" id="contrasenausuario"
	       minlength="8" maxlength="32" required="required">
	     </div>
	     <div class="formulario-item">
	       <input class="formulario-boton-enviar" type="submit"
    style="margin-top: 10px;" value="Login">
	     </div>
	     </form>
    </main>
<%- include('./footer') %>
    
</body>
</html>