<!DOCTYPE html>
<html lang="en">
<%- include('./head') %>
<body>
<%- include('./header') %>
    <main class="main">
    <div class="titulo-productos">Carrito de Compras</div>
    <div class="">
      
    </div>
    </main>
<%- include('./footer') %>
    
</body>
</html>