<!DOCTYPE html>
<html lang="en">
<%- include('./head') %>
<body class="grey-bg-color-idx">
<%- include('./header') %>
    <main class="cuerpo">
		<% if (typeof errors != 'undefined') { %>
			<p style="color:red">ERROR</p>
			<ul>
				<% for (let i =0; i < errors.length;i++){ %>
					<li>
						<%=errors[i].msg%>
					</li>
					<% } %>
			</ul>
			<% } %>
	    <form class="flexbox-formulario" action="/register" method="POST" enctype="multipart/form-data">
	     	<div class="formulario-item">
	       		<label for="nombreusuario">Nombre de usuario</label>
			</div>
			<div class="formulario-item">
	       		<input class="formulario-input-box" type="text" maxlength="32" minlength="8"id="nombreusuario" name="nombreusuario" required="required">
	     	</div>
	    	<div class="formulario-item">
	       		<label for="emailusuario">E-mail</label>
			</div>
			<div class="formulario-item">
	       		<input class="formulario-input-box" type="email" id="emailusuario"name="emailusuario" required="required">
	     	</div>
	     	<div class="formulario-item">
	       		<label for="contrasenausuario">Contraseña</label>
			</div>
			<div class="formulario-item">
	       		<input class="formulario-input-box" type="password" name="contrasenausuario" id="contrasenausuario"minlength="8" maxlength="32" required="required">
	     	</div>
	     	<!--<div class="formulario-item">
	       		<label for="contrasenausuario">Repetir contraseña</label>
			</div>
			<div class="formulario-item">
	       		<input class="formulario-input-box" type="password" name="contrasenausuario" id="contrasenausuario"minlength="8" maxlength="32" required="required">
			</div> -->
	     <div class="formulario-item">
	       <label for="imagenUser">Imagen de perfil</label></div><div class="formulario-item">
	       <input class="formulario-input-box" type="file" name="imagenUser" id="imagenUser">
	     </div>
	     	<div class="formulario-item">
	       		<input class="formulario-checkbox" type="checkbox"name="terminosycond" id="terminosycond" required="required">
	       		<label for="terminosycond">Acepto a los terminos y condiciones</label>
	     	</div>
	     	<div class="formulario-item">
	       		<input class="formulario-boton-enviar" type="submit" value="Registrarse">
	     	</div>
	    </form>
		<section class="redes-sociales">
			<button id="sign-up-facebook" type="submit" value="Facebook"><i class="fab fa-facebook-square"></i> Ingresa con Facebook </button>
			<button id="sign-up-Google" type="submit" value="Google"><i class="fab fa-google"></i> Ingresa con Google </button>
			<button id="sign-up-Aple" type="submit" value="Apple"><i class="fab fa-apple"></i> Ingresa con Apple </button>
	   </section>

	</main>
<%- include('./footer') %>
    
</body>
</html>



