<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmacia Ruiz</title>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <header class="header">
        <article class="header-main-top">
            <img src="..\img\logo.JPG" class="logo">
            <span class="boton-estilizado top-nav-bar">
                <input placeholder="Buscar..." class="subclase-boton-est" type="text"><button class="subclase-boton-est"><i class="fas fa-search"></i></button>
            </span>
            <a class="top-nav-bar">Login</a>
            <a class="top-nav-bar top-nav-right-margin">Carrito de Compras</a>
        </article>
        <nav class="main-navbar">
             <div><a href='#'>Inicio</a></div>
             <div><a href='#'>Productos</a></div>
             <div><a href='#'>Ofertas</a></div>
             <div><a href='#'>Quienes Somos</a></div>
             <div><a href='#'>Contactanos</a></div>
        </nav>
        
    </header>
    <main class="main">
	     <form class="flexbox-formulario">
	     <div class="formulario-item">
	       <label for="nombreusuario">Nombre de usuario</label>
	       <input type="text" maxlength="32" minlength="8"
	       id="nombreusuario" name="nombreusuario" placeholder="Ingrese aqui
	       su nombre de usuario">
	     </div>
	     <div class="formulario-item">
	       <label for="emailusuario">E-mail</label>
	       <input type="email" id="emailusuario"
	       name="emailusuario" placeholder="Ingrese aqui su correo
	       electronico">
	     </div>
	     <div class="formulario-item>
	       <label for="cumpleanosusuario">Fecha de
	       nacimiento</label>
	       <input type="date" name="cumpleanosusario" id="cumpleanosusuario">
	     </div>
	     <div class="formulario-item">
	       <label for="contrasenausuario">Contraseña</label>
	       <input name="contrasenausuario" id="contrasenausuario"
	       minlength="8" maxlength="32" placeholder="Ingrese aqui su
	       contraseña">
	     </div>
	     <div class="formulario-item">
	       <input type="submit" value="Crear cuenta>
	     </div>
	     <div class="formulario-item">
	       <label for="terminosycond">Acepto a los terminos y condiciones</label>
	       <input type="checkbox" name="terminosycond" id="terminosycond">
	     </div>
	     </form>
    </main>
    <footer class="footer">
	<div class="flexbox-footer">
	<div class="logo-footer item-footer-menu"><img src="..\img\logo.JPG" class="logo"></div>
	<div class="item-footer-menu">
              <div><h2>Servicios</h2></div>
              <div><a href="#"class="enlaces"> Catalogos</a></div>
              <div><a href="#"class="enlaces"> Promociones</a></div>
              <div><a href="#"class="enlaces"> Sucursales</a></div>
              <div><a href="#"class="enlaces"> Medios de Pago</a></div>
              <div><a href="#"class="enlaces"> Buscador de medicamentos</a></div>
              <div><a href="#"class="enlaces"> Salud y Farmacia</a></div>
        </div>
        <div class="item-footer-menu">
              <div><h2>Compras Online</h2></div>
              <div><a href="#"> Mis Pedidos</a></div>
              <div><a href="#"> Mis Carrito</a></div>
              <div><a href="#"> Costo de envio</a></div>
        </div>
        <div class="item-footer-menu">
              <div><h2>Atencion al Cliente</h2></div>
              <div><a href="#"> Preguntas Frecuentes</a></div>
              <div><a href="#"> Terminos y Condiciones</a></div>
              <div><a href="#"> Legales de Promociones</a></div>
         </div>
      </div>
    </footer>
    
</body>
</html>