    <header class="header">
        <article class="header-main-top">
            <img src="..\img\logo.JPG" class="logo">
            <form class="boton-estilizado top-nav-bar">
	        <input placeholder="Buscar..." class="subclase-boton-est" type="text" name="busqueda" id="busqueda"><button type="submit" class="subclase-boton-est"><i class="fas fa-search"></i></button>
	    </form>
            <a href="login" class="solo-escritorio top-nav-bar">Login</a>
            <a href="login" class="solo-movil top-nav-bar"><i class="fas fa-user"></i></a>
            <a href="cart" class="solo-escritorio top-nav-bar top-nav-right-margin">Carrito de Compras</a>
            <a href="cart" class="solo-movil top-nav-bar top-nav-right-margin"><i class="fas fa-shopping-cart"></i></a>
        </article>
        <nav class="main-navbar">
             <div><a href='/'>Inicio</a></div>
             <div><a href='product'>Productos</a></div>
             <div><a href='list'>Ofertas</a></div>
             <div><a href='profile'>Perfil de usuario</a></div> <!-- Quienes somos -->
             <div><a href='#'>Contactanos</a></div>
        </nav>
        
    </header>
